/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/landingPage.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.landingPage_main__q3K9l {
  padding: 2rem;
  text-align: center;
}

.landingPage_title__7Hsoq {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.landingPage_description__yKckS {
  font-size: 1.2rem;
  color: var(--foreground);
  margin-bottom: 2rem;
}

.landingPage_features__vMTzD {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.landingPage_feature__kULL6 {
  background-color: var(--card);
  color: var(--card-foreground);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.landingPage_feature__kULL6:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.landingPage_feature__kULL6 h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.landingPage_feature__kULL6 p {
  font-size: 1rem;
  color: var(--muted-foreground);
}
